[submodule "portfolio-fp-example"]
	path = portfolio-fp-example
	url = git@github.com:jpzk/portfolio-fp-example.git
	branch = master
[submodule "finatra-example"]
	path = finatra-example
	url = git@github.com:jpzk/finatra-example.git
	branch = master
[submodule "elevators-in-scala"]
	path = elevators-in-scala
	url = git@github.com:jpzk/elevators-in-scala.git
	branch = master
[submodule "akka-dp-example"]
	path = akka-dp-example
	url = git@github.com:jpzk/akka-dp-example.git
